<div class="container">
	<div class="row">
		<div class="col-12">
			<br><br>
			<h1 class="red-heading">Edit Trip File</h1>
		</div>
	</div>

	<div class="col-md-6 col-12">
		<%= render 'form', trip_file: @trip_file %>
	</div>
</div>