<div class="container">
	<div class="row">
		<div class="col-12">
			<br><br>
			<h1 class="red-heading">Export Manifest Trip File Uploader</h1>
			<p>Key in Flight Details, Snap a picture and Submit!</p>
		</div>
	</div>

	<div class="col-md-4 col-12">
		<%= render 'form', trip_file: @trip_file %>
	</div>
</div>