<div class="container">
	<div class="row">
		<div class="col-12">
			<h1 class="red-heading">Editing Record</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-12" style="padding : 0px 0 0 43px">
			<%= render 'form', record: @record %>
			<%= link_to 'Show', @record %> |
			<%= link_to 'Back', records_path %>
		</div>
	</div>
</div>




