<div class="container">
	<div class="row">
		<div class="col-12">
			<br><br>
			<h1 class="red-heading">RedCargo AWB Uploader</h1>
			<p>Key in AWB Number, Snap a picture and Submit!</p>
		</div>
	</div>

	<div class="col-md-6 col-12">
		<%= render 'form', record: @record %>
	</div>
</div>