<div class="container">
	<div class="row">
		<div class="col-12">
			<h1 class="red-heading">Welcome to RedCargo AWB Uploading Area</h1>
			<p class="text col-7">Snap a picture of your AWB document and key in your AWB Number to submit. Simple! For more details <span style="text-decoration: underline; cursor: pointer;">click here</span>.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-12" style="padding : 30px 0 0 43px">
			<%= render 'form', record: @record %>
			<%= link_to 'Back', records_path %>
		</div>
	</div>

</div>